
strong{
    text-decoration: underline;
}
img{
    margin-right: 0;
}
.middle{
    display: flex;
    justify-content: space-between;
}
.abc{
    display: flex;
    align-items: center;
}
h5{
    font-size: 20px;
}
.middle{
align-items: center;
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    margin-top: 18%;
  }
